body {
    display: flex;
    flex-direction: column;
    width: 100%;
 }
 #area{
    height: 100px;
    width: 90%;
    box-sizing: border-box;
    resize:none;
 }
 #area2{
    width: 90%;
    box-sizing: border-box;
 }

fieldset div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

b {
    width: 10%;
    text-align: center;
}

.btn1 {
    position: relative;
    left: 100px;
 }

/* 표 배경 */
.tr1{
    background: rgb(255, 167, 135);
    color: white;
}
.tdcolor{
    background: rgb(239, 243, 203);
}

/* 바로가기 버튼을 표 크기에 맞추기 */
input[type="button"] {
    width: 100%;           /* 자동 크기 */
    padding: 5px 10px;     /* 텍스트 양옆 여백 */
    box-sizing: border-box; /* padding 포함 크기 계산 */
}